<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class="active">
                    <a ui-sref="main">Main interface</a>
                </li>
                <li><a ui-sref="logs">Logs</a></li>

                <li>
                    <a ui-sref="config">Configuration</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h2 class="page-header">Health check</h2>

            <div class="row placeholders">
                <div class="col-xs-6 col-sm-3 placeholder">
                    <h4>Initialized</h4>
                    <span class="text-muted">{{initialized}}</span>
                </div>
                <div class="col-xs-6 col-sm-3 placeholder">
                    <h4>Started</h4>
                    <span class="text-muted">{{initialized}}</span>
                </div>
                <div class="col-xs-6 col-sm-3 placeholder">
                    <h4>Version</h4>
                    <span class="text-muted">1.0-SNAPSHOT</span>
                </div>
                <div class="col-xs-6 col-sm-3 placeholder">
                    <h4>Updates</h4>
                    <span class="text-muted">Up-to-date</span>
                </div>
            </div>

            <h2 class="sub-header">Claymore instances</h2>

            <div class="table-responsive" ng-show="!initialized || !started">
                Services is still loading. Try wasting the time in this funny memory game<br>
                <p>
                    <button class="btn btn-success" ng-click="game=!game">Waste my time</button>
                </p>
                <div ng-if="game" class="wrap">
                    <iframe class="frame" src="http://shahata.github.io/memory-game/" frameBorder="0" width="600"
                            height="1000">Loading iframe
                    </iframe>
                </div>
            </div>
            <div class="table-responsive" ng-show="initialized && started">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>URL</th>
                        <th>Count of cards</th>
                        <th style="text-align: right">Template</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="instance in claymores">
                        <td>{{$index}}</td>
                        <td>{{instance.url}}</td>
                        <td>{{instance.cardCount}}</td>
                        <td style="text-align: right">
                            <button class="btn btn-xs btn-success" ng-click="generateDashboard($index)">Generate
                                dashboard
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div ng-if="template">
                <h3>Generated dashboard:</h3>
                <pre>{{template}}</pre>
            </div>
        </div>
    </div>
</div>